[Unit]
Description=Smart Locker API
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/smartlocker
EnvironmentFile=/home/pi/smartlocker/.env
ExecStart=/home/pi/smartlocker/.venv/bin/python /home/pi/smartlocker/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

